.topnav {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background: linear-gradient(to bottom, #313131 50%, #7300ff  50%);;
  padding: 0 20px;
  z-index: 1000;
}

.topnav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 150%;       /* make it wide enough to cover diagonally */
  height: 100%;
  background-color: #313131;
  transform: skewY(-25deg); /* diagonal angle */
  transform-origin: top left;
  z-index: 1;        /* behind the logo and links */
  pointer-events: none; /* so links are clickable */
}

.nav-links {
  margin-left: auto;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 8px 12px;
}

.content {
  margin-top: 90px; /* 60 + 30 */
  padding: 20px;
}