html, body {
  height: 100%;
  margin: 0;
  background-color: #313131;
}

.topnav {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 8vh;
  background: linear-gradient(to bottom, #5400bb 50%, #7300ff 50%);
  padding: 0 20px;
  z-index: 1000;
}

.nav-links {
  margin-left: auto;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 3vh;
  padding: 8px 12px;
}

.now-showing {
  font-size: 3.5vh;
  font-weight: 600;
}

.nav-logo {
  height: 70%;
  width:auto;
}

.title {
  font-size: 3vh;
  font-weight: bold;
}
