spring.application.name=cinema
spring.data.mongodb.uri= mongodb+srv://durkinjfd_db_user:gwk4wmbkZlBFHguU@ticket-cluster.fafzycr.mongodb.net/?retryWrites=true&w=majority&appName=ticket-cluster
spring.data.mongodb.database=sample_mflix